{% extends 'base.html' %}

{% block head %}
 <title>Password View</title>
{% endblock %}

{% block body %}
<div class="password-container">

    <div class="col-md-5">
        <h4 class="mt-3">Website</h4>
        <div class="row mb-4">
            <div class="col-8">
                <input type="text" class="form-control" value="{{ website }}">
            </div>
            <div class="col-4">
                <button type="button" onclick="copyToClipboard()" id="clipboard-button" class="btn btn-secondary clipboardButton">
                <i class="bi bi-clipboard" id="clipboard-icon"></i>
                </button>
            </div>
        </div>

        <h4 class="mt-3">Email</h4>
        <div class="row mb-4">
            <div class="col-8">
                <input type="text" class="form-control" value="{{ email }}">
            </div>
            <div class="col-4">
                <button type="button" onclick="copyToClipboard()" id="clipboard-button" class="btn btn-secondary clipboardButton">
                <i class="bi bi-clipboard" id="clipboard-icon"></i>
                </button>
            </div>
        </div>

        <h4 class="mt-3">Password</h4>
        <div class="row mb-4">
            <div class="col-8">
                <input type="text" class="form-control" value="{{ password }}">
            </div>
            <div class="col-4">
                <button type="button" onclick="copyToClipboard()" id="clipboard-button" class="btn btn-secondary clipboardButton">
                <i class="bi bi-clipboard" id="clipboard-icon"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
