{% extends 'base.html' %}

{% block head %}
 <title>Password List</title>
{% endblock %}

{% block body %}

<div class="password-container">
    <div class="col-md-5">
        <table style="border: 1px solid">
            <tr>
                <td>Website</td>
                <td>Email</td>
                <td>Password</td>
            </tr>
            {% for password in passwords %}
            <tr>
                <td><a href="{{ url_for('passwordView', website=password[0], email=password[1], password=password[2]) }}"><button>{{ password[0] }}</button></a></td>
                <td><a href="{{ url_for('passwordView', website=password[0], email=password[1], password=password[2]) }}"><button>{{ password[1] }}</button></a></td>
                <td><a href="{{ url_for('passwordView', website=password[0], email=password[1], password=password[2]) }}"><button>{{ password[2] }}</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}