{% extends 'base.html' %}

{% block head %}
 <title>Password View</title>
{% endblock %}

{% block body %}
<div class="password-container">

    <div class="col-md-5">
        <form method="post" action="{{ url_for('passwordView', website=website, email=email, password=password) }}">
            <h4 class="mt-3">Website</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" name="website" class="form-control" value="{{ website }}" required>
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyToClipboard()" id="clipboard-button" class="btn btn-secondary clipboardButton">
                    <i class="bi bi-clipboard" id="clipboard-icon"></i>
                    </button>
                </div>
            </div>

            <h4 class="mt-3">Email</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" name="email" class="form-control" value="{{ email }}" required>
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyToClipboard()" id="clipboard-button" class="btn btn-secondary clipboardButton">
                    <i class="bi bi-clipboard" id="clipboard-icon"></i>
                    </button>
                </div>
            </div>

            <h4 class="mt-3">Password</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" name="password" class="form-control" value="{{ password }}" required>
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyToClipboard()" id="clipboard-button" class="btn btn-secondary clipboardButton">
                    <i class="bi bi-clipboard" id="clipboard-icon"></i>
                    </button>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-8">
                    <button type="submit" class="btn btn-secondary w-100 mt-3 addPasswordButton">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
